body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

iframe {
    border: none;
}

.social {
    color: white;
    text-decoration: none;
    background-color: #4d4d4e;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social:hover {
    color: #4d4d4e;
    background-color: white;
}

.twitch {
    color: #707072;
    text-decoration: none;
}

.twitch:hover {
    color: white;
}

.titre1 {
    color: #707072;
    font-style: italic;
    font-weight: 700;
}

.titre3 {
    color: #707072;
}

.nav {
    display: flex;
    list-style: none;
    width: 70%;
    margin: 0;
    padding-top: 20px;
    justify-content: space-around;
    height: 10%;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    color: #707072;
    font-weight: bold;
}

.info_container {
    font-size: 20px;
    width: 40%;
}

header {
    display: flex;
    width: 100%;
    background-color: #afa193;
    position: relative;
    z-index: 2;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding-top: 50px;
}

main {
    background-color: #998b7d;
    height: 100vh;
    position: relative;
}

footer {
    background-color: #81776a;
    height: 300px;
}

.reseau {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 135px;
}

.pp {
    display: flex;
    position: absolute;
    opacity: 0.8;
    bottom: 0;
    left: 300px;
    z-index: 3;
    width: 700px;
    height: 800px;
}

.twitch_studio {
    display: flex;
    position: absolute;
    top: 120px;
    left: 75px;
}

.twitch_studio1 {
    display: flex;
}

.twitch_studio2 {
    display: flex;

}

.planning_image {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;

}

.planning_show {
    display: flex;
    justify-content: center;
    align-items: center;

}

.close {
    color: white;
    font-size: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0;
    margin: 0;
    position: relative;

}
.close>p{
    margin: 0;
    position: absolute;
    top: -40px;
    right: -50px;
}

.filter {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.85;
    z-index: 4;
}

.image {
    z-index: 5;
    position: absolute;
    display: flex;
}
.body_overflow{
    overflow: hidden;
}